@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand&family=Roboto&display=swap');
.App {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  height: 100%;
  width:100%;
  margin: 0;
}

/* Navigation  */
div.navigation {
    position: absolute;
    top: 0;
    height: 50px;
    background: #babef0;
    width: 100vw;
    padding: 20px;
}

span.login-link, span.home-link, span.signup-link, span.restaurants-link, span.food-link {
  margin-right: 20px;
}
/* Main Divs  */

div.Main, div.Login, div.Signup, div.Restaurants, .Food {
  width: 100vw;
  height: 100vh;
  padding-top: 50px;
  background: yellow;
  text-align: center;
  overflow:auto;
}

/* Map Container */ 



/* Restaurant Container */

