@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Ubuntu&display=swap');
.App {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
  width:100%;
  margin: 0;
}

/* Navigation  */
div.navigation {
    position: fixed;
    top: 0;
    background: white;
    width: 100vw;
    font-family: 'Permanent Marker', 'cursive';
    color: black;
    /* overflow: hidden; */
}

div.navigation a {
  float: left;
  font-size: 18px;
  color: black;
  font-family: 'Permanent Marker', 'cursive';
  text-align: center;
  padding: 18px;
  text-decoration: none;
}

div.dropdown {
  position: relative;
  display: inline-block;
  float: right;
}

.dropbtn {
  font-size: 18px;
  border:none;
  outline: none;
  color: black;
  padding: 18px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navigation a:hover, .dropdown:hover .dropbtn {
  background-color: #ffde59;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: inherit;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 18px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}





/* Main Divs  */

div.Main, div.Login, div.Signup, div.Restaurants, div.Food, div.Profile {
  width: 100vw;
  height: 100vh;
  margin-top: 60px;
  background: white;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;

  /* overflow: scroll; */
}

div.Profile h2 {
  font-family: 'Permanent Marker', 'cursive';
}

/* Map Container */ 

div.Map {
  overflow: scroll;
}


/* Restaurant Container */

.likebtn {
  border:none;
  outline: none;
  background-color: inherit;
  margin: 0;
}