@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Ubuntu&display=swap');
.App {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
  width:100%;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


/* Navigation  */
div.navigation {
    position: fixed;
    top: 0;
    background: white;
    width: 100vw;
    font-family: 'Permanent Marker', 'cursive';
    color: black;
    /* overflow: hidden; */
}

div.navigation a {
  float: left;
  font-size: 18px;
  color: black;
  font-family: 'Permanent Marker', 'cursive';
  text-align: center;
  padding: 18px;
  text-decoration: none;
}

div.dropdown {
  position: relative;
  display: inline-block;
  float: left;
}

.dropbtn {
  font-size: 18px;
  border:none;
  outline: none;
  color: black;
  padding: 18px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navigation a:hover, .dropdown:hover .dropbtn {
  /* background-color: #ffde59; */
  background-color: white;
  /* color: #ffde59; */
  text-shadow: 2px 2px 8px rgb(180, 180, 180);

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 18px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* Main Divs  */

div.Main, div.Login, div.Signup, div.Food, div.Profile {
  width: 100vw;
  height: 100vh;
  margin-top: 60px;
  background: white;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  background-image: linear-gradient(180deg, white, #ffde59);
  overflow: scroll;
}

/* Main Container */

p.title {
  font-family: 'Permanent Marker', cursive;
  font-size: 100px;
  padding-top: 15vh;
}

.subtitle {
  color: red;
}

.main-btn {
  font-family: 'Permanent Marker', cursive;
  outline: 0;
  background: #ffde59;
  width: 75%;
  border: 0;
  padding: 15px;
  color: black;
  font-size: 18px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 25px;
}



/* Login Form */

div.form {
  top: 12%;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  padding: 10px;
  margin: 0 auto 100px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.field{
  font-family: 'Ubuntu', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 75%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 25px;
  text-align: center;

}

.label {
  font-family: 'Permanent Marker', cursive;
  font-size: 18px;
  margin-bottom: 30px;
}

.button {
  font-family: 'Permanent Marker', cursive;
  outline: 0;
  background: #ffde59;
  width: 75%;
  border: 0;
  padding: 15px;
  color: black;
  font-size: 18px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 25px;
}

.message {
  margin: 15px 0 0;
  color: black;
  font-size: 16px;

}


.errors {
  padding: 1px;
  color: black;
  font-style: oblique;
  font-size: 16px;
}

.form a {
  color: red;
}

.form a:hover {
  color: black;
}


div.Restaurants {
  display: flex;
  width: 100%;
  height: 100vh;
  margin-top: 60px;
  font-family: 'Ubuntu', sans-serif;
  background: white;
}

div.Profile h2 {
  font-family: 'Permanent Marker', 'cursive';
}

/* Map Container */ 

/* div.Map {
  overflow: scroll;
} */


/* Restaurant Container */

.likebtn, .igButton {
  border:none;
  outline: none;
  background-color: inherit;
  margin: 0;
}

div.RestaurantContainer {
  width: 30vw;
  overflow: scroll;
  /* position: relative; */
}

div.MapContainer {
  width: 70vw;
}

div.card-design{
  /* border-radius: 5px; */
  padding: 20px;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}

.float {
  float: right
}


/* food container is row */


div.food-column {
  float: left;
  width: 25%;
  padding: 0 10px;

}

div.food-container {
  box-sizing: border-box;
  margin: 0 -5px;

}

div.food-container:after {
  content: "";
  display: table;
  clear: both;
}
div.food-card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: inherit;
  height: 200px;
}